* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}
/* Left side  */
.left {
  padding: 20px;
  padding-top: 0px;
  background-color: black;
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.logo {
  font-size: 30px;
  color: rgb(231, 109, 9);
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 40px;
  letter-spacing: 2px;
  cursor: pointer;
}
.logo:hover {
  color: white;
}
.left-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0px;
}
.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 18px 0px;
  cursor: pointer;
}
.list-item:hover .list-icon,
.list-item:hover .list-text {
  color: white;
}
.list-icon {
  color: rgb(131, 131, 131);
  font-size: 16px;
  margin-right: 10px;
  justify-self: flex-start;
}
.list-text {
  font-size: 16px;
  color: rgb(131, 131, 131);
  font-family: "Roboto", sans-serif;
}
.selected > .list-icon,
.selected > .list-text {
  color: white;
}
.logout {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: absolute;
  bottom: 25px;
  left: 30%;
  cursor: pointer;
}
.icon-logout {
  color: rgb(131, 131, 131);
  font-size: 18px;
  margin-right: 10px;
}
.logout-text {
  font-size: 18px;
  color: rgb(131, 131, 131);
  font-family: "Roboto", sans-serif;
}
.logout:hover .icon-logout,
.logout:hover .logout-text {
  color: white;
}
/* Center  */
.center {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-top: 10px;
}
.center-top {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.schedule {
  font-size: 30px;
  margin: 10px;
  font-weight: 600;
}
.date {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.date-text {
  font-size: 14px;
  font-weight: 550;
  margin-right: 5px;
}
.date-icon {
  margin: 5px 0px;
}
.icon {
  font-size: 25px;
}

/* center center  */
.center-center {
  display: flex;
  flex-direction: column;
  height: 48vh;
  box-shadow: 0px 10px 10x black;
}
.center-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.center-list-item {
  list-style: none;
  cursor: pointer;
  font-weight: 500;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 5px;
  color: grey;
}
.center-selected {
  text-decoration: underline;
  font-weight: 600;
  color: black;
}
.center-list-item:hover {
  text-decoration: underline;
  font-weight: 600;
  color: black;
}

/* Center Box*/

.center-box {
  width: 95%;
  margin: 10px 10px 10px 10px;
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}
.center-box:hover {
  background-color: black;
}
.center-box-icon-container {
  margin-left: 20px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
  flex: 0.75;
  border-radius: 10px;
}
.center-box:hover .center-box-icon-container {
  background-color: white;
}
.box-icon {
  font-size: 25px;
  color: black;
}

.center-box-span {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 180px;
  margin: 0px 20px;
  flex: 2;
}

.center-box-span-text {
  font-weight: 600;
}
.center-box:hover .center-box-span-text {
  color: white;
}
.center-box-span-time {
  font-weight: 300;
  color: grey;
  margin-top: 5px;
  font-size: 12px;
}

.center-box-img-container {
  width: 100px;
  height: 60px;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 30px;
  flex: 1.5;
}

.image {
  margin-right: -10px;
  border: 1px solid white;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  object-fit: cover;
}

/* Center Project Progress */
.center-bottom {
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
}
.center-bottom-top {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
}
.center-bottom-top-project {
  margin-right: 30px;
  font-weight: 600;
  font-size: 20px;
}
.center-bottom-top-icon {
  cursor: pointer;
  margin-left: 250px;
}
.center-bottom-box {
  width: 100%;
  height: 36vh;
  border-radius: 10px;
  background-color: rgb(240, 246, 250);
  display: flex;
  flex-direction: column;
}
.center-bottom-box-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px;
}
.center-bottom-box-top-text {
  flex: 3;
  font-size: 17px;
}
.center-bottom-box-top-icon {
  flex: 1;
  display: flex;
  flex-flow: row;
}
.center-bottom-box-top-icons {
  margin-right: 25px;
  font-size: 15px;
  cursor: pointer;
}
.center-bottom-box-graph-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: center;
}
.graph-container {
  flex: 2;
  margin-right: 5px;
}
.graph-data-container {
  flex: 1.5;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.graph-data {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
}
.graph-data-color1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: orange;
  margin-bottom: 40px;
}
.graph-data-color2 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(41, 9, 41);
  margin-bottom: 40px;
}
#graph-js-container {
}
.graph-data-text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-bottom: 20px;
  align-items: flex-start;
}
.data-text1 {
  font-size: 15px;
}
.data-text2 {
  margin-top: 3px;
  font-size: 12px;
  color: grey;
}
/* Right side */
.right {
  flex: 1.75;
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-top: 10px;
}
.right-section-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0px 0px 0px;
}
.right-section-top-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 83%;
  height: 30px;
  border-radius: 3px;
  background-color: rgb(216, 209, 209);
}
.search-icon {
  color: black;
  font-size: 20px;
  margin-left: 5px;
}
.right-section-top-input {
  background-color: rgb(216, 209, 209);
  width: 95%;
  height: 28px;
  margin-left: 10px;
  border: none;
  outline: none;
  font-weight: 500;
}
.right-section-top-image-container {
  margin: 0px 10px;
  margin-left: 60px;
}
.right-section-top-image {
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
  height: 40px;
  object-fit: cover;
  object-position: center;
}

/* Right center */

.right-section-center {
  margin: 5px 0px;
  display: flex;
  flex-direction: column;
}
.right-section-center-header-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: start;
}
.right-section-center-headtext {
  font-size: 25px;
  font-weight: 600;
}
.right-section-center-headdate-container {
  margin-left: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.right-section-center-headdate-text {
  font-size: 14px;
  font-weight: 550;
  margin-right: 10px;
}
.right-section-center-headdate-icon {
  font-size: 25px;
}

/*Right section center box*/

.right-section-center-box {
  background-color: rgb(249 235 237);
  width: 90%;
  height: 40vh;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.right-section-center-flex-box {
  flex: 1;
}
.day-and-date-container {
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-top: 10px;
  width: 70%;
  border-radius: 10px;
  height: 60px;
}
.day {
  color: black;
  font-size: 15px;
  margin: 5px 10px;
}
.date {
  color: black;
  margin: 0px 10px;
  font-size: 20px;
  font-weight: 600;
}
hr {
  width: 30px;
  margin: 10px;
}
.time-container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}
.time-span {
  margin: 15px 20px;
  font-size: 14px;
  color: grey;
}
.date-selected {
  border-radius: 10px;
  border: 2px solid grey;
}
.date-selected .day-and-date-container {
  background-color: transparent;
}
.date-selected .time-span {
  color: black;
}

/* Right section lower */

.right-section-lower {
  display: flex;
  flex-direction: column;
}

.right-section-lower-header {
  width: 100%;
  margin: 10px 0px 10px 0px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: start;
}
.right-section-lower-header-text1 {
  font-size: 25px;
  font-weight: 600;
  margin-right: 65%;
}
.right-section-lower-header-text2 {
  font-size: 15px;
  cursor: pointer;
}
.right-section-lower-box {
  display: flex;
  margin: 0px 0px 10px 0px;
  flex-direction: row;
  align-items: center;
  width: 85%;
  height: 70px;
  border: 1px solid grey;
  border-radius: 10px;
}
.right-section-lower-box-image-container {
  width: 45px;
  height: 45px;
  background-color: black;
  margin: 0px 10px 0px 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.5;
}
.right-section-lower-image {
  height: 30px;
  width: 30px;
}
.right-section-lower-box-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 2;
}
.right-section-lower-box-text1 {
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
}
.right-section-lower-box-text2 {
  font-size: 12px;
  margin-left: 10px;
  margin-top: 5px;
  color: grey;
}
.right-box-lower-data-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  cursor: pointer;
}
.right-box-lower-data {
  font-size: 15px;
  color: grey;
  margin-right: 10px;
}
.right-box-lower-data-icon {
  font-size: 15px;
  color: black;
  margin-left: 10px;
}
.right-section-top-responsive {
  display: none;
}

/* Responsive Design */

@media only screen and (max-width: 980px) {
  .container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 200vh;
  }
  .left {
    display: none;
  }
  .left-class-for-click {
    z-index: 10;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    padding-top: 0px;
    background-color: black;
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .logo {
    margin-bottom: 5px;
  }
  .left-list {
    margin: 5px 0px;
  }
  .logout {
    display: inline-block;
    position: relative;
    width: 33%;
    margin-right: 163px;
    margin-top: 42px;
  }
  .icon-logout {
    margin-right: 0px;
  }
  .center {
    margin: 10px;
    width: 100vw;
    height: 120vh;
    padding: 0px;
  }

  .right {
    position: relative;
    margin: 10px;
    width: 100vw;
  }
  .right-section-top {
    display: none;
  }
  .right-section-top-responsive {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    width: 98vw;
  }
  .right-section-top-search {
    flex: 6;
    width: 100%;
  }
  .responsive-logo {
    flex: 1;
    font-size: 20px;
    margin: 0px 30px 0px 10px;
  }
  .right-section-top-image-container {
    flex: 0.5;
    display: flex;
    justify-content: flex-end;
  }
  .center-list-item {
    margin: 5px 10px 5px 5px;
    margin-bottom: 20px;
    font-size: 14px;
  }
  .center-box {
    margin: 5px 5px 5px 5px;
  }
  .center-box-icon-container {
    margin-left: 10px;
    width: 50px;
    height: 50px;
  }
  .box-icon {
    font-size: 20px;
  }
  .center-center {
    height: 46vh;
  }
  .center-box-span {
    margin: 0px 10px;
    width: 180px;
  }
  .center-box-span-text {
    font-size: 15px;
  }
  .center-box-span-time {
    font-size: 10px;
  }
  .center-box-img-container {
    margin: 0px;
  }
  .center-bottom {
    margin: 0px;
  }
  .center-bottom-top {
    margin: 0px 10px;
  }
  .center-bottom-top-project {
    margin-right: 15px;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
  }
  .center-bottom-top-icon {
    display: none;
  }
  .center-box-img-container {
    width: 100px;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 30px;
    flex: 2;
  }
  .center-bottom-box-top-text {
    font-size: 17px;
  }
  .center-bottom-box-top-icon {
    flex: 1;
  }
  .right {
    padding: 0px;
  }
  .right-section-center-headdate-container {
    margin-left: 27%;
  }
  .right-section-center-headdate-icon {
    top: 8px;
  }
  .right-section-center-box {
    width: 98%;
    margin: 10px 0px 10px 0px;
  }
  .right-section-lower-header {
    margin: 10px;
  }
  .right-section-lower-header-text1 {
    margin-right: 60%;
  }
  .right-section-center-headdate-text {
    font-size: 12px;
  }
  .right-section-lower-box {
    width: 97%;
    height: 80px;
    margin: 0px 0px 15px 0px;
  }
}
